<div class="sidenav-body-container">
    <div class="sidenav-body">

        <!-- <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <span><mat-icon icon>home</mat-icon></span>
            <span class="text-container">Home</span>
        </a> -->

        <div class="sidenav-body--brand">
            <img src="/assets/images/logo.png" alt="logo" />
            <span>api-docu</span>
        </div>

        <ul class="sidenav-body--menu" *ngFor="let item of menu">
            <li class="sidenav-body--menu--title">{{ item.title }}</li>
            <ng-container *ngFor="let child of item.items">
                <li class="sidenav-body--menu--item" [routerLink]="[item.slug +'/' + child.slug]"
                    routerLinkActive="active">
                    {{ child.title }}
                </li>
            </ng-container>
        </ul>

    </div>
</div>

<div class="resize-handle" [class.resizing]="resizingEvent.isResizing" (mousedown)="startResizing($event)"
    *ngIf="!isSmallDevice"></div>

<button class="toggle-button" (click)="this.sidenavService.toggleSidenav()"
    [class.is-flipped]="sidenavService.isExpanded" *ngIf="!isSmallDevice">
    <mat-icon icon>chevron_right</mat-icon>
</button>