<div class="sidenav-body-container">
    <div class="sidenav-body">

        <!-- <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <span><mat-icon icon>home</mat-icon></span>
            <span class="text-container">Home</span>
        </a> -->

        <div class="sidenav-body--brand">
            <img src="/assets/images/logo.png" alt="logo" />
            <span>api-docu</span>
        </div>

        <ul class="sidenav-body--menu">
            <li class="sidenav-body--menu--title">Getting started</li>
            <li class="sidenav-body--menu--item active">Authentication</li>
            <li class="sidenav-body--menu--item">Errors</li>
        </ul>

        <ul class="sidenav-body--menu">
            <li class="sidenav-body--menu--title">Bibles</li>
            <li class="sidenav-body--menu--item">All Bibles</li>
            <li class="sidenav-body--menu--item">Specific Bibles</li>
        </ul>

        <ul class="sidenav-body--menu">
            <li class="sidenav-body--menu--title">Books</li>
            <li class="sidenav-body--menu--item">All books from a Bible</li>
            <li class="sidenav-body--menu--item">Specific books from a Bible</li>
        </ul>

        <ul class="sidenav-body--menu">
            <li class="sidenav-body--menu--title">Chapters</li>
            <li class="sidenav-body--menu--item">Chapters for a book</li>
            <li class="sidenav-body--menu--item">Chapter content</li>
        </ul>
    </div>
</div>

<div class="resize-handle" [class.resizing]="resizingEvent.isResizing" (mousedown)="startResizing($event)"
    *ngIf="!isSmallDevice"></div>

<button class="toggle-button" (click)="this.sidenavService.toggleSidenav()"
    [class.is-flipped]="sidenavService.isExpanded" *ngIf="!isSmallDevice">
    <mat-icon icon>chevron_right</mat-icon>
</button>