<h4>Sign up</h4>
<p>Fill in the required fields to conitnue</p>

<form [formGroup]="signUpForm" (ngSubmit)="signup()">
    <mat-form-field appearance="outline">
        <mat-label>Your name</mat-label>
        <input matInput placeholder="" formControlName="name" required>
        <mat-error *ngIf="controlHasError('name', 'required')">Your name is invalid</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Your email</mat-label>
        <input matInput placeholder="" formControlName="email" required>
        <mat-error *ngIf="controlHasError('email', 'required') || controlHasError('email', 'email')">{{
            emailErrorMessage }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Your password</mat-label>
        <input matInput placeholder="" formControlName="password" required>
        <mat-error *ngIf="controlHasError('password', 'required')">Your password is invalid</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="processing">{{ processing ? 'Processing...' :
        'Sign up'}}</button>
    <button mat-button color="primary" type="button" [routerLink]="['/auth/signin']" [disabled]="processing">Have an
        account? <strong>Sign
            in</strong></button>
</form>