<h4>Sign in</h4>
<p>Use your email & password to continue</p>

<form [formGroup]="signInForm" (ngSubmit)="signin()">
    <mat-form-field appearance="outline">
        <mat-label>Your email</mat-label>
        <input matInput placeholder="" formControlName="email" required>
        <mat-error *ngIf="controlHasError('email', 'required') || controlHasError('email', 'email')">{{
            emailErrorMessage }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Your password</mat-label>
        <input matInput placeholder="" formControlName="password" type="password" required>
        <mat-error *ngIf="controlHasError('password', 'required')">Your password is invalid</mat-error>
    </mat-form-field>
    <span>Forgot password? <a [routerLink]="['/auth/reset']" routerLinkActive="router-link-active">Reset</a></span>
    <button mat-raised-button color="primary" type="submit" [disabled]="processing">{{ processing ? 'Processing...' :
        'Sign in'}}</button>
    <button mat-button color="primary" type="button" [routerLink]="['/auth/signup']" [disabled]="processing">New user?
        <strong>Sign
            up</strong></button>
</form>