<div class="toolbar-overlay" [class.show]="this.sidenavService.isSmallDevice && showMenu" (click)="toggleMenu()"></div>

<div class="toolbar" [class.minimal]="this.sidenavService.isSmallDevice">
    <div class="menu-icon" *ngIf="this.sidenavService.isSmallDevice" (click)="toggleMenu()" [class.open]="showMenu">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="section">
        <mat-form-field appearance="fill" class="search-input" [class.wide]="!this.sidenavService.isSmallDevice">
            <input matInput placeholder="Search...">
            <button mat-icon-button matPrefix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>

        <div class="profile">
            <button mat-button [matMenuTriggerFor]="langMenu" aria-label="Profile">
                <span class="lang"><img src="assets/images/flags/en.png" /> EN <mat-icon>expand_more</mat-icon></span>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Profile">
                <mat-icon>person</mat-icon>
            </button>
        </div>
    </div>
</div>

<mat-menu #langMenu="matMenu" xPosition="before" dense class="profile-menu">
    <button mat-menu-item>
        <span class="lang"><img src="assets/images/flags/en.png" /> English, EN</span>
    </button>
    <button mat-menu-item>
        <span class="lang"><img src="assets/images/flags/fr.png" /> French, FR</span>
    </button>
</mat-menu>

<mat-menu #profileMenu="matMenu" xPosition="before" dense class="profile-menu">
    <button mat-menu-item>
        <span>Account</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <span>API keys management</span>
    </button>
    <button mat-menu-item>
        <span>API usage</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="signout()">
        <span>Sign out</span>
    </button>
</mat-menu>